criticalAnnots.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg" xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:cr="http://baumann-digital.de/ns/criticalRemarks" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="odd-critRemarks" start="critRemarks" ns="http://baumann-digital.de/ns/criticalRemarks">
        
        <classSpec type="atts" ident="att.key">
          <attList>
            <attDef ident="key">
              <datatype><dataRef key="text"/></datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec type="atts" ident="att.numbering">
          <attList>
            <attDef ident="no">
              <datatype><dataRef key="integer"/></datatype>
            </attDef>
            <attDef ident="sortNo">
              <datatype><dataRef key="integer"/></datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec type="atts" ident="att.siglum">
          <attList>
            <attDef ident="siglum">
              <datatype><dataRef key="text"/></datatype>
            </attDef>
          </attList>
        </classSpec>
        <elementSpec ident="critRemarks">
          <desc>Root element for the critical remarks.</desc>
          <content>
            <elementRef key="setting" minOccurs="1" maxOccurs="1"/>
            <elementRef key="remark" minOccurs="1" maxOccurs="unbounded"/>
          </content>
          <attList>
            <attDef ident="relWork">
              <desc>related work. Das Werk, dem die Annotationen zugehörig sind.</desc>
              <datatype>
                <dataRef key="ID"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="setting">
          <desc>Die Grundinformationen (Zugehörige Quellen, Instrumente/Stimmen, Editionen)</desc>
          <content>
            <elementRef key="voices"/>
            <elementRef key="sources"/>
            <elementRef key="editions"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="remark">
          <desc>Eine kritische Anmerkung</desc>
          <content>
            <elementRef key="item" minOccurs="1" maxOccurs="1"/>
            <elementRef key="mdiv"/>
            <elementRef key="measure" maxOccurs="2"/>
            <elementRef key="count" maxOccurs="2"/>
            <elementRef key="voices"/>
            <elementRef key="layers"/>
            <elementRef key="annots"/>
            <elementRef key="sources"/>
            <elementRef key="editions"/>
          </content>
          <attList>
            <attDef ident="xml:id">
              <datatype>
                <dataRef key="ID"/>
              </datatype>
            </attDef>
            <attDef ident="type">
              <valList type="closed">
                <valItem ident="editorial">
                  <desc>Eingriff (Hg.)</desc>
                </valItem>
                <valItem ident="reading">
                  <desc>Lesart</desc>
                </valItem>
                <valItem ident="annotation">
                  <desc>Anmerkung (Hg.)</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <elementSpec ident="item"/>
        <elementSpec ident="mdiv"/>
        <elementSpec ident="measure">
          <content>
            <dataRef key="measure.data"/>
          </content>
        </elementSpec>
        <elementSpec ident="count"/>
        <elementSpec ident="voices">
          <desc>A Wrapper for voices (voice-elements)</desc>
          <content>
            <elementRef key="voice" minOccurs="1" maxOccurs="unbounded"/>
          </content>
        </elementSpec>
        <elementSpec ident="voice">
          <classes>
            <memberOf key="att.key"/>
            <memberOf key="att.numbering"/>
          </classes>
          <content>
            <textNode/>
          </content>
        </elementSpec>
        <elementSpec ident="layers">
          <desc>A Wrapper for layers (layer-elements)</desc>
          <content>
            <elementRef key="layer" minOccurs="1" maxOccurs="unbounded"/>
          </content>
        </elementSpec>
        <elementSpec ident="layer">
          <content>
            <textNode/>
          </content>
        </elementSpec>
        <elementSpec ident="annots">
          <desc>A Wrapper for annotations (annot-elements)</desc>
          <content>
            <elementRef key="annot" minOccurs="1" maxOccurs="unbounded"/>
          </content>
        </elementSpec>
        <elementSpec ident="annot">
          <content>
            <textNode/>
          </content>
        </elementSpec>
        <elementSpec ident="sources">
          <desc>A Wrapper for sources (source-elements)</desc>
          <content>
            <elementRef key="source" minOccurs="1" maxOccurs="unbounded"/>
          </content>
        </elementSpec>
        <elementSpec ident="source">
          <classes>
            <memberOf key="att.numbering"/>
            <memberOf key="att.siglum"/>
          </classes>
          <content>
            <textNode/>
          </content>
        </elementSpec>
        <elementSpec ident="editions">
          <desc>A Wrapper for editions (edition-elements)</desc>
          <content>
            <elementRef key="edition" minOccurs="1" maxOccurs="unbounded"/>
          </content>
        </elementSpec>
        <elementSpec ident="edition">
          <classes>
            <memberOf key="att.siglum"></memberOf>
          </classes>
          <content>
            <textNode/>
          </content>
        </elementSpec>

        <!--<critAnnots xmlns="http://www.baumann-digital.de/ns/criticalanotations" work="baudi-02-aedbaef3">
          <remark xml:id="baudi-30-dc7a4a67" type="editorial">
            <item category="Notentext"/>
            <mdiv>0</mdiv>
            <measureStart>4</measureStart>
            <countTimeStart>1</countTimeStart>
            <measureEnd>4</measureEnd>
            <countTimeEnd>1</countTimeEnd>
            <layer organI="true"/>
            <voice/>
            <note>In ED-KA c2 statt ces2, in ED-KA2 @ mit Bleistift nachgetragen (vgl. auch Hrn. I in A-P1)</note>
            <note type="intern"/>
            <sources sourceVIII="true" sourceIX="true" sourceIII="true"/>
            <editions/>
          </remark>-->

      </schemaSpec>
    </body>
  </text>
</TEI>
