resources/schema/crApp.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://baumann-digital.de/ns/criticalApparatus"><!--
Schema generated from ODD source 2023-01-02T10:10:16Z. .
TEI Edition: Version 4.3.0. Last updated on
        31st August 2021, revision b4f72b1ff
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.3.0/
  
--><!--This work is licensed under a  Creative Commons Attribution 4.0 International License (CC BY 4.0) .-->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="att.lang.attributes">
      <ref name="att.lang.attribute.xmllang"/>
   </define>
   <define name="att.lang.attribute.xmllang">
      <optional>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <value>de</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(german) </a:documentation>
               <value>en</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(english) </a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="att.key.attributes">
      <ref name="att.key.attribute.key"/>
   </define>
   <define name="att.key.attribute.key">
      <optional>
         <attribute name="key">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="att.id.attributes">
      <ref name="att.id.attribute.xmlid"/>
   </define>
   <define name="att.id.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">ID of the file. Must be unique in the context of this framework.</a:documentation>
         </attribute>
      </optional>
   </define>
   <define name="att.numbering.attributes">
      <ref name="att.numbering.attribute.no"/>
      <ref name="att.numbering.attribute.sortNo"/>
   </define>
   <define name="att.numbering.attribute.no">
      <optional>
         <attribute name="no">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">An attribute for a numbering. The value must be an integer.</a:documentation>
         </attribute>
      </optional>
   </define>
   <define name="att.numbering.attribute.sortNo">
      <optional>
         <attribute name="sortNo">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">An attribute for ordering purpose. The value must be a positive integer.</a:documentation>
         </attribute>
      </optional>
   </define>
   <define name="att.timing.attributes">
      <ref name="att.timing.attribute.measure"/>
      <ref name="att.timing.attribute.count"/>
   </define>
   <define name="att.timing.attribute.measure">
      <optional>
         <attribute name="measure">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">An attribute for defining a measure as a time stamp. The value must be a positive integer.</a:documentation>
         </attribute>
      </optional>
   </define>
   <define name="att.timing.attribute.count">
      <optional>
         <attribute name="count">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">An attribute for defining a count (within a measure) as a detailed part of a time stamp. The value must be a positive integer.</a:documentation>
         </attribute>
      </optional>
   </define>
   <define name="att.siglum.attributes">
      <ref name="att.siglum.attribute.siglum"/>
   </define>
   <define name="att.siglum.attribute.siglum">
      <optional>
         <attribute name="siglum">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="att.label.attributes">
      <ref name="att.label.attribute.label"/>
   </define>
   <define name="att.label.attribute.label">
      <optional>
         <attribute name="label">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="att.target.attributes">
      <ref name="att.target.attribute.target"/>
   </define>
   <define name="att.target.attribute.target">
      <optional>
         <attribute name="target">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="annot">
      <element name="annot">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
      </element>
   </define>
   <define name="annots">
      <element name="annots">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for annotations (annot-elements)</a:documentation>
         <oneOrMore>
            <ref name="annot"/>
         </oneOrMore>
      </element>
   </define>
   <define name="apparatus">
      <element name="apparatus">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The root element for the critical apparatus.</a:documentation>
         <ref name="setting"/>
         <oneOrMore>
            <ref name="remarks"/>
         </oneOrMore>
         <ref name="att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="class">
      <element name="class">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">An Element that defines a class or category to be used for classifying.</a:documentation>
         <choice>
            <oneOrMore>
               <ref name="label"/>
            </oneOrMore>
            <text/>
         </choice>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="class"/>
         </sch:pattern>
         <ref name="att.key.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="classGrp">
      <element name="classGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for grouping classes.</a:documentation>
         <oneOrMore>
            <ref name="class"/>
         </oneOrMore>
         <ref name="att.label.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="classifications">
      <element name="classifications">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A wrapper to organize classifications.</a:documentation>
         <oneOrMore>
            <ref name="classGrp"/>
         </oneOrMore>
      </element>
   </define>
   <define name="edition">
      <element name="edition">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="edition"/>
            <sch:param name="attrStr" value="siglum"/>
         </sch:pattern>
         <ref name="att.numbering.attributes"/>
         <ref name="att.siglum.attributes"/>
         <ref name="att.target.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="editions">
      <element name="editions">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for editions (edition-elements)</a:documentation>
         <oneOrMore>
            <ref name="edition"/>
         </oneOrMore>
      </element>
   </define>
   <define name="label">
      <element name="label">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">An Element that defines a class or category to be used for classifying.</a:documentation>
         <text/>
         <ref name="att.lang.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="language">
      <element name="language">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">An Element that defines the language used for the settings. Al other labels are treated as translations.</a:documentation>
         <empty/>
         <optional>
            <attribute name="key">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <choice>
                  <value>de</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(german) </a:documentation>
                  <value>en</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(english) </a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="layer">
      <element name="layer">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">An Element defining a layer as a subordinated unit of a voice.</a:documentation>
         <oneOrMore>
            <ref name="label"/>
         </oneOrMore>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="layer"/>
            <sch:param name="attrStr" value="key"/>
         </sch:pattern>
         <ref name="att.key.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="layerGrp">
      <element name="layerGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for layer-elements.</a:documentation>
         <oneOrMore>
            <ref name="label"/>
         </oneOrMore>
         <oneOrMore>
            <ref name="layer"/>
         </oneOrMore>
         <ref name="att.key.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mdiv">
      <element name="mdiv">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <choice>
            <oneOrMore>
               <ref name="label"/>
            </oneOrMore>
            <text/>
         </choice>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="mdiv"/>
            <sch:param name="attrStr" value="no"/>
         </sch:pattern>
         <ref name="att.numbering.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mdivs">
      <element name="mdivs">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="mdiv"/>
         </oneOrMore>
      </element>
   </define>
   <define name="occurance">
      <element name="occurance">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <choice>
            <ref name="position"/>
            <group>
               <ref name="range"/>
               <ref name="range"/>
            </group>
         </choice>
      </element>
   </define>
   <define name="occurances">
      <element name="occurances">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="occurance"/>
         </oneOrMore>
      </element>
   </define>
   <define name="part">
      <element name="part">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">An Element defining a vocal or instrumental part.</a:documentation>
         <choice>
            <group>
               <oneOrMore>
                  <ref name="label"/>
               </oneOrMore>
               <oneOrMore>
                  <group>
                     <zeroOrMore>
                        <ref name="layerGrp"/>
                     </zeroOrMore>
                     <zeroOrMore>
                        <ref name="layer"/>
                     </zeroOrMore>
                  </group>
               </oneOrMore>
            </group>
            <text/>
         </choice>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="voice"/>
            <sch:param name="attrStr" value="key"/>
         </sch:pattern>
         <ref name="att.key.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="partGrp">
      <element name="partGrp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="label"/>
         </oneOrMore>
         <oneOrMore>
            <group>
               <zeroOrMore>
                  <ref name="partGrp"/>
               </zeroOrMore>
               <zeroOrMore>
                  <ref name="part"/>
               </zeroOrMore>
            </group>
         </oneOrMore>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="voiceGrp"/>
            <sch:param name="attrStr" value="key"/>
         </sch:pattern>
         <ref name="att.key.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="parts">
      <element name="parts">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for voices (voice-elements)</a:documentation>
         <oneOrMore>
            <group>
               <zeroOrMore>
                  <ref name="partGrp"/>
               </zeroOrMore>
               <zeroOrMore>
                  <ref name="part"/>
               </zeroOrMore>
            </group>
         </oneOrMore>
      </element>
   </define>
   <define name="position">
      <element name="position">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <empty/>
         <ref name="att.timing.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="range">
      <element name="range">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <empty/>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0">
            <sch:rule context="crapp:range">
               <sch:assert test="parent::node()/crapp:range[1]/@type='start'">The value of @type in the first range must be 'start'</sch:assert>
               <sch:assert test="parent::node()/crapp:range[2]/@type='stop'">The value of @type in the second range must be 'stop'</sch:assert>
            </sch:rule>
         </sch:pattern>
         <ref name="att.timing.attributes"/>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <value>start</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(starting point) The location where the range of the occurance starts.</a:documentation>
               <value>stop</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(stopping point) The location where the range of the occurance stops.</a:documentation>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="relEditions">
      <element name="relEditions">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for editions related to the critical apparatus</a:documentation>
         <oneOrMore>
            <ref name="edition"/>
         </oneOrMore>
      </element>
   </define>
   <define name="relSources">
      <element name="relSources">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for sources related to the critical apparatus</a:documentation>
         <oneOrMore>
            <ref name="source"/>
         </oneOrMore>
      </element>
   </define>
   <define name="relWorks">
      <element name="relWorks">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for sources related to the critical apparatus</a:documentation>
         <oneOrMore>
            <ref name="work"/>
         </oneOrMore>
      </element>
   </define>
   <define name="remark">
      <element name="remark">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A critical remark.</a:documentation>
         <zeroOrMore>
            <ref name="class"/>
         </zeroOrMore>
         <ref name="mdiv"/>
         <optional>
            <ref name="occurances"/>
         </optional>
         <ref name="parts"/>
         <ref name="annots"/>
         <ref name="sources"/>
         <ref name="editions"/>
         <ref name="att.id.attributes"/>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <choice>
                  <value>editorial</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Eingriff (Hg.)</a:documentation>
                  <value>reading</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Lesart</a:documentation>
                  <value>annotation</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Anmerkung (Hg.)</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="remarks">
      <element name="remarks">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A wrapper critical remarks.</a:documentation>
         <oneOrMore>
            <ref name="remark"/>
         </oneOrMore>
      </element>
   </define>
   <define name="setting">
      <element name="setting">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Die Grundinformationen (Zugehörige Quellen, Instrumente/Stimmen, Editionen)</a:documentation>
         <ref name="language"/>
         <ref name="mdivs"/>
         <ref name="parts"/>
         <ref name="relWorks"/>
         <ref name="relSources"/>
         <ref name="relEditions"/>
         <ref name="classifications"/>
         <ref name="att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="source">
      <element name="source">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="source"/>
            <sch:param name="attrStr" value="siglum"/>
         </sch:pattern>
         <ref name="att.numbering.attributes"/>
         <ref name="att.siglum.attributes"/>
         <ref name="att.target.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="sources">
      <element name="sources">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for sources (source-elements)</a:documentation>
         <oneOrMore>
            <ref name="source"/>
         </oneOrMore>
      </element>
   </define>
   <define name="work">
      <element name="work">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A reference to a work this critical apparatus is made for.</a:documentation>
         <text/>
         <ref name="att.target.attributes"/>
         <ref name="att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="apparatus"/>
         <ref name="remark"/>
         <ref name="setting"/>
      </choice>
   </start>
   <sch:schema xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
               xmlns:sch="http://purl.oclc.org/dsdl/schematron"
               xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
               xmlns:functx="http://www.functx.com"
               xmlns:mei="http://www.music-encoding.org/ns/mei"
               xmlns="http://www.tei-c.org/ns/1.0"
               queryBinding="xslt2">
      <sch:ns uri="http://baumann-digital.de/ns/criticalApparatus" prefix="crapp"/>
      <xsl:function name="functx:is-value-in-sequence" as="xs:boolean">
         <xsl:param name="value" as="xs:anyAtomicType?"/>
         <xsl:param name="seq" as="xs:anyAtomicType*"/>
         <xsl:sequence select="$value = $seq"/>
      </xsl:function>
      <xsl:function name="crapp:checkValues">
         <xsl:param name="elem" as="node()"/>
         <xsl:param name="attName" as="xs:string"/>
         <xsl:variable name="elemName" select="local-name($elem)"/>
         <xsl:variable name="elemText" select="$elem/text()"/>
         <xsl:variable name="setVals"
                       select="$elem/ancestor::crapp:apparatus//crapp:setting//node()[local-name()=$elemName]"/>
         <xsl:value-of select="functx:is-value-in-sequence($elemText, if($setVals/attribute::node()[local-name()=$attName])then($setVals/attribute::node()[local-name()=$attName]) else($setVals/text()))"/>
      </xsl:function>
      <xsl:function name="crapp:valuesAllowed">
         <xsl:param name="elem" as="node()"/>
         <xsl:param name="attName" as="xs:string"/>
         <xsl:variable name="elemName" select="local-name($elem)"/>
         <xsl:variable name="elemText" select="$elem/text()"/>
         <xsl:variable name="setVals"
                       select="$elem/ancestor::crapp:apparatus//crapp:setting//node()[local-name()=$elemName]"/>
         <xsl:for-each select="$setVals">
            <xsl:value-of select="if(attribute::node()[local-name()=$attName]) then(attribute::node()[local-name()=$attName]/string()) else(text())"/>
         </xsl:for-each>
      </xsl:function>
      <xsl:function name="crapp:valuesAllowedJoined">
         <xsl:param name="elem" as="node()"/>
         <xsl:param name="attName" as="xs:string"/>
         <xsl:value-of select="string-join(crapp:valuesAllowed($elem, $attName), ', ')"/>
      </xsl:function>
      <sch:pattern abstract="true" id="checkValues">
         <sch:rule context="crapp:remark//node()[local-name()='$elementName']">
            <sch:assert test="exists(ancestor::crapp:apparatus/crapp:setting//node()[local-name()='$elementName'])"
                        role="fatal">No setting for <sch:value-of select="local-name(.)"/> defined. Please define the setting before use.</sch:assert>
            <sch:report test="exists(ancestor::crapp:apparatus/crapp:setting//node()[local-name()='$elementName']) and crapp:checkValues(., '$attrStr') = false()"
                        role="error">The value <sch:value-of select="."/> is not allowed here. Please use one of these: <sch:value-of select="crapp:valuesAllowedJoined(., '$attrStr')"/>.</sch:report>
         </sch:rule>
      </sch:pattern>
   </sch:schema>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="odd-critRemarks-check-voice-combination-constraint-rule-2">
      <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                xmlns:functx="http://www.functx.com"
                xmlns:mei="http://www.music-encoding.org/ns/mei"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="crapp:remark//crapp:voice">
         <sch:let name="voiceVal" value="./text()"/>
         <sch:let name="voiceGrpVals"
                  value="string-join(ancestor::crapp:remark//crapp:voiceGrp/text(),' ')"/>
         <sch:report test=".[ancestor::crapp:apparatus/crapp:setting//crapp:voice[@key = $voiceVal]/ancestor::crapp:voiceGrp[@key][contains($voiceGrpVals, @key)]]"
                     role="warning">
            <sch:value-of select="$voiceVal"/> is part of <sch:value-of select="tokenize($voiceGrpVals, ' ')[last()]"/>. A second call might be redundant.</sch:report>
      </sch:rule>
   </pattern>
</grammar>
