resources/schema/criticalAnnots.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://baumann-digital.de/ns/criticalApparatus"><!--
Schema generated from ODD source 2022-04-01T10:52:35Z. .
TEI Edition: Version 4.3.0. Last updated on
        31st August 2021, revision b4f72b1ff
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.3.0/
  
--><!---->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="att.key.attributes">
      <ref name="att.key.attribute.key"/>
   </define>
   <define name="att.key.attribute.key">
      <optional>
         <attribute name="key">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="att.numbering.attributes">
      <ref name="att.numbering.attribute.no"/>
      <ref name="att.numbering.attribute.sortNo"/>
   </define>
   <define name="att.numbering.attribute.no">
      <optional>
         <attribute name="no">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="att.numbering.attribute.sortNo">
      <optional>
         <attribute name="sortNo">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="att.timing.attributes">
      <ref name="att.timing.attribute.measure"/>
      <ref name="att.timing.attribute.count"/>
   </define>
   <define name="att.timing.attribute.measure">
      <optional>
         <attribute name="measure">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="att.timing.attribute.count">
      <optional>
         <attribute name="count">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="att.siglum.attributes">
      <ref name="att.siglum.attribute.siglum"/>
   </define>
   <define name="att.siglum.attribute.siglum">
      <optional>
         <attribute name="siglum">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="att.target.attributes">
      <ref name="att.target.attribute.target"/>
   </define>
   <define name="att.target.attribute.target">
      <optional>
         <attribute name="target">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="apparatus">
      <element name="apparatus">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Root element for the critical remarks.</a:documentation>
         <ref name="setting"/>
         <oneOrMore>
            <ref name="remarks"/>
         </oneOrMore>
         <optional>
            <attribute name="xml:id">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">ID of the file. Must be unique in the context of this framework.</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="setting">
      <element name="setting">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Die Grundinformationen (Zugehörige Quellen, Instrumente/Stimmen, Editionen)</a:documentation>
         <ref name="mdivs"/>
         <ref name="voices"/>
         <ref name="sources"/>
         <ref name="editions"/>
         <ref name="categories"/>
      </element>
   </define>
   <define name="remarks">
      <element name="remarks">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="remark"/>
         </oneOrMore>
      </element>
   </define>
   <define name="remark">
      <element name="remark">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Eine kritische Anmerkung</a:documentation>
         <ref name="category"/>
         <ref name="mdiv"/>
         <optional>
            <ref name="occurances"/>
         </optional>
         <ref name="voices"/>
         <ref name="annots"/>
         <ref name="sources"/>
         <ref name="editions"/>
         <optional>
            <attribute name="xml:id">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <choice>
                  <value>editorial</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Eingriff (Hg.)</a:documentation>
                  <value>reading</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Lesart</a:documentation>
                  <value>annotation</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Anmerkung (Hg.)</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="categories">
      <element name="categories">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="category"/>
         </oneOrMore>
      </element>
   </define>
   <define name="category">
      <element name="category">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
      </element>
   </define>
   <define name="mdivs">
      <element name="mdivs">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="mdiv"/>
         </oneOrMore>
      </element>
   </define>
   <define name="mdiv">
      <element name="mdiv">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="mdiv"/>
            <sch:param name="attrStr" value="no"/>
         </sch:pattern>
         <ref name="att.numbering.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="occurances">
      <element name="occurances">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="occurance"/>
         </oneOrMore>
      </element>
   </define>
   <define name="occurance">
      <element name="occurance">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <choice>
            <ref name="position"/>
            <group>
               <ref name="range"/>
               <ref name="range"/>
            </group>
         </choice>
      </element>
   </define>
   <define name="position">
      <element name="position">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <empty/>
         <ref name="att.timing.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="range">
      <element name="range">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <empty/>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0">
            <sch:rule context="crapp:range">
               <sch:assert test="parent::node()/crapp:range[1]/@type='start'">The value of @type in the first range must be 'start'</sch:assert>
               <sch:assert test="parent::node()/crapp:range[2]/@type='stop'">The value of @type in the second range must be 'stop'</sch:assert>
            </sch:rule>
         </sch:pattern>
         <ref name="att.timing.attributes"/>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <value>start</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(starting point) The location where the range of the occurance starts.</a:documentation>
               <value>stop</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(stopping point) The location where the range of the occurance stops.</a:documentation>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="voices">
      <element name="voices">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for voices (voice-elements)</a:documentation>
         <oneOrMore>
            <ref name="voice"/>
         </oneOrMore>
      </element>
   </define>
   <define name="voice">
      <element name="voice">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="voice"/>
            <sch:param name="attrStr" value="key"/>
         </sch:pattern>
         <ref name="att.key.attributes"/>
         <ref name="att.numbering.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="layer">
      <element name="layer">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="layer"/>
            <sch:param name="attrStr" value="key"/>
         </sch:pattern>
      </element>
   </define>
   <define name="annots">
      <element name="annots">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for annotations (annot-elements)</a:documentation>
         <oneOrMore>
            <ref name="annot"/>
         </oneOrMore>
      </element>
   </define>
   <define name="annot">
      <element name="annot">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
      </element>
   </define>
   <define name="sources">
      <element name="sources">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for sources (source-elements)</a:documentation>
         <oneOrMore>
            <ref name="source"/>
         </oneOrMore>
      </element>
   </define>
   <define name="source">
      <element name="source">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="source"/>
            <sch:param name="attrStr" value="siglum"/>
         </sch:pattern>
         <ref name="att.numbering.attributes"/>
         <ref name="att.siglum.attributes"/>
         <ref name="att.target.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="editions">
      <element name="editions">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A Wrapper for editions (edition-elements)</a:documentation>
         <oneOrMore>
            <ref name="edition"/>
         </oneOrMore>
      </element>
   </define>
   <define name="edition">
      <element name="edition">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
         <sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
                      xmlns:functx="http://www.functx.com"
                      xmlns:mei="http://www.music-encoding.org/ns/mei"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      is-a="checkValues">
            <sch:param name="elementName" value="edition"/>
            <sch:param name="attrStr" value="siglum"/>
         </sch:pattern>
         <ref name="att.numbering.attributes"/>
         <ref name="att.siglum.attributes"/>
         <ref name="att.target.attributes"/>
         <empty/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="apparatus"/>
      </choice>
   </start>
   <sch:schema xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
               xmlns:sch="http://purl.oclc.org/dsdl/schematron"
               xmlns:crapp="http://baumann-digital.de/ns/criticalApparatus"
               xmlns:functx="http://www.functx.com"
               xmlns:mei="http://www.music-encoding.org/ns/mei"
               xmlns="http://www.tei-c.org/ns/1.0"
               queryBinding="xslt2">
      <sch:ns uri="http://baumann-digital.de/ns/criticalApparatus" prefix="crapp"/>
      <xsl:function name="functx:is-value-in-sequence" as="xs:boolean">
         <xsl:param name="value" as="xs:anyAtomicType?"/>
         <xsl:param name="seq" as="xs:anyAtomicType*"/>
         <xsl:sequence select="$value = $seq"/>
      </xsl:function>
      <xsl:function name="crapp:checkValues">
         <xsl:param name="elem" as="node()"/>
         <xsl:param name="attName" as="xs:string"/>
         <xsl:variable name="elemName" select="local-name($elem)"/>
         <xsl:variable name="elemText" select="$elem/text()"/>
         <xsl:variable name="setVals"
                       select="$elem/ancestor::crapp:apparatus//crapp:setting//node()[local-name()=$elemName]"/>
         <xsl:value-of select="functx:is-value-in-sequence($elemText, if($setVals/attribute::node()[local-name()=$attName])then($setVals/attribute::node()[local-name()=$attName]) else($setVals/text()))"/>
      </xsl:function>
      <xsl:function name="crapp:valuesAllowed">
         <xsl:param name="elem" as="node()"/>
         <xsl:param name="attName" as="xs:string"/>
         <xsl:variable name="elemName" select="local-name($elem)"/>
         <xsl:variable name="elemText" select="$elem/text()"/>
         <xsl:variable name="setVals"
                       select="$elem/ancestor::crapp:apparatus//crapp:setting//node()[local-name()=$elemName]"/>
         <xsl:for-each select="$setVals">
            <xsl:value-of select="if(attribute::node()[local-name()=$attName]) then(concat(attribute::node()[local-name()=$attName]/string(), ' (', text(), ')')) else(text())"/>
         </xsl:for-each>
      </xsl:function>
      <xsl:function name="crapp:valuesAllowedJoined">
         <xsl:param name="elem" as="node()"/>
         <xsl:param name="attName" as="xs:string"/>
         <xsl:value-of select="string-join(crapp:valuesAllowed($elem, $attName), ', ')"/>
      </xsl:function>
      <sch:pattern abstract="true" id="checkValues">
         <sch:rule context="crapp:remark//node()[local-name()='$elementName']">
            <sch:assert test="exists(ancestor::crapp:apparatus/crapp:setting//node()[local-name()='$elementName'])"
                        role="fatal">No setting for <sch:value-of select="local-name(.)"/> defined. Please define the setting before use.</sch:assert>
            <sch:report test="exists(ancestor::crapp:apparatus/crapp:setting//node()[local-name()='$elementName']) and crapp:checkValues(., '$attrStr') = false()"
                        role="error">The value <sch:value-of select="."/> is not allowed here. Please use one of these: <sch:value-of select="crapp:valuesAllowedJoined(., '$attrStr')"/>.</sch:report>
         </sch:rule>
      </sch:pattern>
   </sch:schema>
</grammar>
